In [2]:
#Installing pymysql
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\elcot\anaconda3\lib\site-packages (1.1.1)

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import pymysql

In [2]:
#Connecting python and mysql
myconnection = pymysql.connect(host ='127.0.0.1',user='root',password ='Janasathy@15')

In [5]:
#Creating database in SQL
myconnection.cursor().execute("Create database project_guvi")

1

In [3]:
#view the dataframe
df1 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//customer_journey.csv")
df2 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//customer_reviews.csv")
df3 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//customers.csv")
df4 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//engagement_data.csv")
df5 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//geography.csv")
df6 = pd.read_csv("D://Jana//Project_Guvi//Customer Behaviour Analysis//Docs//products.csv")

In [20]:
#Replaceing NaN value as unknown because NaN value does not reflect in SQL table
df1['Duration'] = df1['Duration'].fillna(0)

In [21]:
df1.columns

Index(['JourneyID', 'CustomerID', 'ProductID', 'VisitDate', 'Stage', 'Action',
       'Duration'],
      dtype='object')

In [22]:
df1.dtypes

JourneyID       int64
CustomerID      int64
ProductID       int64
VisitDate      object
Stage          object
Action         object
Duration      float64
dtype: object

In [23]:
#Change the dtype python into SQL format(using automate)
dtype_mapping ={
    'int64':'INTEGER',
    'float64':'FLOAT',
    'object':'TEXT',
    'datetime64[ns]':'DATETIME',
    'bool':'BOOLEAN'
}
columns1 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df1.columns,df1.dtypes))
columns2 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df2.columns,df2.dtypes))
columns3 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df3.columns,df3.dtypes))
columns4 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df4.columns,df4.dtypes))
columns5 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df5.columns,df5.dtypes))
columns6 = ",".join(f"{col} {dtype_mapping[str(dtype)]}"for col,dtype in zip(df6.columns,df6.dtypes))

In [16]:
#creating a table in SQL
myconnection.cursor().execute(f"create table project_guvi.customer_journey({columns1})")
myconnection.cursor().execute(f"create table project_guvi.customer_reviews({columns2})")
myconnection.cursor().execute(f"create table project_guvi.customers({columns3})")
myconnection.cursor().execute(f"create table project_guvi.engagement_data({columns4})")
myconnection.cursor().execute(f"create table project_guvi.geography({columns5})")
myconnection.cursor().execute(f"create table project_guvi.products({columns6})")

0

In [25]:
##Inserting values into tables
for i in range(0,len(df1)):
   myconnection.cursor().execute(f"insert into project_guvi.customer_journey values {tuple(df1.iloc[i])}")
   myconnection.commit()
for i in range(0,len(df2)):
   myconnection.cursor().execute(f"insert into project_guvi.customer_reviews values {tuple(df2.iloc[i])}")
   myconnection.commit()
for i in range(0,len(df3)):
   myconnection.cursor().execute(f"insert into project_guvi.customers values {tuple(df3.iloc[i])}")
   myconnection.commit()
for i in range(0,len(df4)):
   myconnection.cursor().execute(f"insert into project_guvi.engagement_data values {tuple(df4.iloc[i])}")
   myconnection.commit()
for i in range(0,len(df5)):
   myconnection.cursor().execute(f"insert into project_guvi.geography values {tuple(df5.iloc[i])}")
   myconnection.commit()
for i in range(0,len(df6)):
   myconnection.cursor().execute(f"insert into project_guvi.products values {tuple(df6.iloc[i])}")
   myconnection.commit()